<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style></style>
</head>
<body>

<div id="information">

</div>

<script>
    let info = document.getElementById(
        'information'
    )

    let data = []
    fetch("http://127.0.0.1:8000/api/v1/chats/")
        .then(res => res.json())
        .then(res => {
        data = res
        })
        .then(() => {
        data.map(item => {
        let div = document.createElement('div');
        div.innerHTML = item.last_message.text;
        info.append(div)
    })
    })
</script>
</body>
</html>